<%- include('../partials/header')%>


<div class="container">
    <div style ="width: 70%;">
        <div class="row" id="form title" >
            <h1 style="text-align: center;" >Add a new commen to <%= climbinggym.name%> </h1>
        </div>
        <form action="/climbinggyms/<%= climbinggym._id%>/comments" method="POST">
            <div class="form-gorup" style="margin: 20px auto;">
                <label for="username">Comment</label>
                <input class="form-control" type="text" name="comment[text]" placeholder="text">
            </div>
    
            <div class="form-group">
                <button class="btn btn-lg btn-outline-dark btn-block">Post</button>
            </div>
            <a href="/climbinggyms">Go Back</a>
        </form>
    </div>
</div>


<%- include('../partials/footer')%>