<%- include('../partials/header')%>


<div class="container">
    <div style ="width: 70%;">
        <div class="row" id="form title" >
            <h1 style="text-align: center;">Add a new climbing gym </h1>
        </div>
        <form action="/climbinggyms" method="POST">
            <div class="form-gorup" style="margin: 20px auto;">
                
                <input class="form-control" type="text" name="name" placeholder="name">
            </div>
            <div class="form-gorup" style="margin: 20px auto;">
                
                <input class="form-control" type="text" name="image" placeholder="image url">
            </div>
            <div class="form-gorup" style="margin: 20px auto;">
                
                <input class="form-control" type="text" name="description" placeholder="description">
            </div>
    
            <div class="form-group">
                <button class="btn btn-lg btn-outline-dark btn-block">Submit</button>
            </div>
            <a href="/climbinggyms">Go Back</a>
        </form>
    </div>
</div>


<%- include('../partials/footer')%>